

<h2 class="mt-4 mb-5 text-center">修改支出</h2>

<div class="container">

  <div class="row justify-content-center mt-4 mb-3">
    <div class="col-7">
      <form id="formEdit" action="/records/edit" method="post" novalidate>

        <div class="row mb-3">
          <div class="col-3">
            *必填欄位
          </div>
          <div class="col-8 text-center fs-5">
            請輸入你的支出
          </div>
        </div>

        <div class="row align-items-center mb-4">
          <label for="name" class="col-3 form-label h5 text-end mb-0">名稱*</label>
          <div class="col-8">
            <input type="text" class="form-control" id="name" name="name" value="{{ record.name }}" placeholder="請輸入消費項目名稱..." required>

            <div class="invalid-feedback">欄位未填或格式錯誤</div>          
          </div>
        </div>

        <div class="row align-items-center mb-4">
          <label for="date" class="col-3 form-label h5 text-end mb-0">日期*</label>
          <div class="col-8">
            <input type="date" class="form-control" id="date" name="date" value="{{ dateStr }}" placeholder="請輸入消費日期..." required>

            <div class="invalid-feedback">欄位未填或格式錯誤</div>          
          </div>
        </div>

        <div class="row align-items-center mb-4">
          <div class="col-3 h5 text-end mb-0">類別*</div>
          <div class="col-8">
            <select class="form-select" name="categoryId" value="{{ record.categoryId }}" aria-label="Default select example" required>
              <option style="display:none "></option>
              {{#each categoryList }}
              <option value="{{ this.id }}">{{ this.name }}</option>
              {{/each}}
            </select>

            <div class="invalid-feedback">欄位未填或格式錯誤</div>          
          </div>
        </div>

        <div class="row align-items-center mb-4">
          <label for="amount" class="col-3 form-label h5 text-end mb-0">金額*</label>
          <div class="col-8">
            <input type="number" class="form-control" id="amount" name="amount" value="{{ record.amount }}" placeholder="請輸入金額..." required>

            <div class="invalid-feedback">欄位未填或格式錯誤</div>          
          </div>
        </div>

        {{!-- 新增按鈕 --}}
        <div class="row justify-content-center">
            <button type="submit" class="col-4 btn btn-primary me-1">修改送出</button>
        </div>

      </form>
    </div>
  </div>

</div>

<script>

  // 表單驗證
  (() => {
    'use strict'

    const form = document.querySelector('#formEdit');

    form.addEventListener('submit', event => {
      
      // 驗證不合格就阻止發送表單
      if (!form.checkValidity()) {
        event.preventDefault()
        event.stopPropagation()
      }

      // 元素需驗證時再動態要加上一個類，讓設定的CSS選擇器可以作用
      form.classList.add('was-validated')
    }, false);

  })()


  // 透過動態預設select-options元件
  const options = [ ...document.querySelectorAll('option')];
  options.find(option => option.value === '{{ record.categoryId }}').selected = true;



</script>



